
/*Common Style for all pages*/ 
 body {
  font-family: "verdana", Times, serif;
 
}
 div {
	 padding: 10px; 
	 
}
.container {
	padding: 5px;
	margin: 10px auto;
	
}
.header {
	height: 70px;
	background-color:white;
	/*position:fixed;*/
}
.logo{
	float: left;
	padding: 5px;
	
}
.logo img{
	height:45px;
}
.navbar{
	float: left;
}
.breadcrumbs {
	
	height: 30px;
}

.banner{
	background-image: url('../image/banner1.gif');
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size:  95% 85%;
	height: 500px;
}


.sidebar {
	width: 300px;
	float: right;
	background-color: gray;
}
.footer {
	clear: both;
	background-color:white;
}
.pagewrap, .header, .content, .sidebar, .footer {
	/*border: solid 1px #ccc;*/
}

.nav a, .breadcrumbs a{
	color: black;
	
}
.nav a:hover, .breadcrumbs a:hover{
  color: gray;
}
.nav a h4{
	font-weight:bold;
}
.hr1{
	color:gray;
}
.footerparagraph, .copyright, .footerlogo{
	
	text-align: center;
}
.footerlogo img{
	width:15%;
	height:15%;
}

/*----------------------------Bing-Page homepage-------------------------------*/

form{
	
	/*border: solid 1px #ccc;*/
}
#homepagecontent{
	/* position: relative;/*set up for Form cordi*/
	background-image: url('../image/.jpg');
	background-repeat: no-repeat;
	background-size: 99% 100%;
}
#homepagecontent img{
	width:150%;
	height:100%;
}
.col-sm-4 {/*set up for Form cordi*/
/*position: absolute;
 top: 100px;
  right:50px;*/
  
}
.homepage-banner-h3, .homepage-banner-p{
	padding-top:30px;
	padding-left:15px;
	color:white;
}
.homepageslogan p{
	font-weight: bold;
	font-size:80px;
	color:#708090;
}
.homepageparagraph1{
	/*border:solid 1px #ccc;*/
	width:750px;
}
.homepageparagraph1, .homepageparagraph2, .homepageparagraph3{
	font-size:20px;
	font-weight: bold;
	color:#708090;
}
/*
.col-sm-8{
	
}

.col-sm-8 p{
	width:25%;
	height:25%;
}

.col-sm-8 img:hover{

	 background-color:black;
}*/

/*Styling for ranking page*/

/*----------------------------Bing-Page career guide-------------------------------*/
a img{
	width: 100%;
}
#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#emmessage, #pwmessage{
	color:red;
}
h3{
	/*text-align:center;*/
}


/*----------------------------Xin-Page News-------------------------------*/
.news_banner{
  width: 100%;
  height: 200px;
}
.news_introduction h3{
  font-weight: bold;
}
.news_introduction p{
  font-size: 18px;
}
.container{
  padding: 5px;
  margin:auto;
}
#news_container{
  background: white;
}

.news_img{
  width: 100%;
  height:200px;
}
.news_link{
  background: white;
  border-radius:10px;
  font:18px verdana;
  padding: 5px;
  margin-right: 20%;

}

.card-header {
  font-size: 19px;
  font-weight: bold;
  color: black;
}
.card-header.highlight{
  color: grey;
}
.card-footer p{
  font-size: 12px;
  font-style: italic;
}

/*----------------------------Xin-Page company review-------------------------------*/
.review_banner{
  width: 100%;
  height: 350px;
}
.col{
  background: lightblue;
  margin-right: 1%;
  margin-left: 1%;
}
.col-sm-7.highlight{
  background: white;
}
.review_headline{
  width: 100%;
}
.review_headline td{
  border-bottom: 1px solid black;

}
.review_table{
  width: 100%

}
.review_company_name{
  font: 22px verdana;
  font-weight: bold;
  color: #00b3b3;

}
.review_number{
  font-size: 10px;
}
.review_comment{
  font-size: 15px;
  font-style: oblique;
  color: black;
}
.review_marks{
  width: 100%;
}
.review_marks td{
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 10px;
  color: grey;
}
.container_review_background{

  /*background-image: url('../images/rating_background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;*/
}
.container_review_statement{
  margin-right: 40%;
  margin-left: 30%;
}

.container_review_statement form{
  background: white;
}

.container_review_statement p{
  font-size: 12px;
}
.container_review_statement h6{
  font-weight: bolder;
}
.review_ratingform td{
  font-size: 16px;
}
